[submodule "Example/MRSimpleCoreDataStack"]
	path = Example/MRSimpleCoreDataStack
	url = https://gist.github.com/51251fe09330591235cb.git
[submodule "Example/MRMockMethod"]
	path = Example/MRMockMethod
	url = https://gist.github.com/299d8474a74667f1cb58.git
